.nav {
    background-color: rgba(0,0,0,1);
    position: fixed;
    height: 100vh;
    align-items: center;
    width: var(--width);
    z-index: 1;
    transition: background-color 0.3s ease;
  }
  
  .scroll {
    background-color: rgba(0,0,0,0.9);
  }
  
  .header_logo {
    position: static; 
  }
  
  .navParts {
    height: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .mainPart,
  .secondPart {
    width: 100%;
  }
  
  .navParts a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 15px 5px;
    border-top: 1px solid #BB9393;
    text-align: right;
  }
  
  .navParts a.active {
    color: var(--main-color);
  }
  
  .navParts a i {
    text-align: left;
    line-height: 100%;
  }
  
  .navParts a:nth-child(3) {
    border-bottom: 1px solid #BB9393;
  }
  
  .navParts a:nth-child(4) {
    margin-top: auto;
  }
  
  @media screen and (max-width:1500px) {
    .header_logo {
      width: 130px;
    }
  }
  
  @media screen and (max-width:1216px) {
    .header_logo {
      width: 110px;
    }
  }
  
  @media screen and (max-width:1024px) {
    /* Dodatkowe style dla szerokości <1024px, jeśli potrzebne */
  }
  
  @media screen and (max-width:768px) {
    .header_logo {
      display: none;
    }
  
    .nav {
      bottom: 0;
      width: 100vw;
      height: 8vh;
    }
    
    .navParts {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .navParts a p {
      display: none;
    }
  
    .navParts a:nth-child(3) {
      border-bottom: 0;
    }
  
    .navParts a:nth-child(4) {
      margin-top: 0;
    }
  
    .navParts a {
      border: 0;
      width: 50px;
      font-size: 2.2rem;
    }
  }
  